body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url('./supports/font/IBMPlexSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: url('./supports/font/IBMPlexSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('./supports/font/IBMPlexSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}